extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	include ../section/hero
	include ../section/product
	include ../section/advan
	include ../section/any
	include ../section/services
	include ../section/clients
	include ../section/dignity
	include ../section/partners
	include ../section/guarantee
	include ../section/dilers
	include ../section/work-open
	include ../section/consult
	include ../section/seo
	include ../section/modals
block styles 
	link(rel="stylesheet" type='text/css' href="app/css/main.css")