// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции advan */
@import 'section/catalog-detail/advan.styl'
/* Стили секции advan */

/* Стили секции desc */
@import 'section/catalog-detail/desc.styl'
/* Стили секции desc */

/* Стили секции pref */
@import 'section/catalog-detail/pref.styl'
/* Стили секции pref */

/* Стили секции engine */
@import 'section/catalog-detail/engine.styl'
/* Стили секции engine */

/* Стили секции unic */
@import 'section/catalog-detail/unic.styl'
/* Стили секции unic */

/* Стили секции item-prod */
@import 'section/catalog-detail/item-prod.styl'
/* Стили секции item-prod */

/* Стили секции spare-list */
@import 'section/catalog-detail/spare-list.styl'
/* Стили секции spare-list */

/* Стили секции arrangement */
@import 'section/catalog-detail/arrangement.styl'
/* Стили секции arrangement */

/* Стили секции options*/
@import 'section/catalog-detail/options.styl'
/* Стили секции options */


// Компоненты
@import "common/common.styl"
@import "common/fa.styl"