// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции hero */
@import 'section/hero.styl'
/* Стили секции hero */

/* Стили секции product */
@import 'section/product.styl'
/* Стили секции product */

/* Стили секции advan */
@import 'section/advan.styl'
/* Стили секции advan */

/* Стили секции any */
@import 'section/any.styl'
/* Стили секции any */

/* Стили секции services */
@import 'section/services.styl'
/* Стили секции services */

/* Стили секции clients */
@import 'section/clients.styl'
/* Стили секции clients */

/* Стили секции dignity */
@import 'section/dignity.styl'
/* Стили секции dignity */

/* Стили секции partners */
@import 'section/partners.styl'
/* Стили секции partners */

/* Стили секции guarantee */
@import 'section/guarantee.styl'
/* Стили секции guarantee */

/* Стили секции dilers */
@import 'section/dilers.styl'
/* Стили секции dilers */

/* Стили секции work-open */
@import 'section/work-open.styl'
/* Стили секции work-open */

/* Стили секции consult */
@import 'section/consult.styl'
/* Стили секции consult */

/* Стили секции seo */
@import 'section/seo.styl'
/* Стили секции seo */

/* Стили секции modals */
@import 'section/modals.styl'
/* Стили секции modals */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */

/* apadtive */
@import 'section/adaptive.styl'
/* apadtive */


// Компоненты
@import "common/common.styl"
@import "common/fa.styl"