include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		//- favicon block start
		//- favicon block end
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
		link(rel="stylesheet" type='text/css' href="app/css/foundation.css")
		block styles
		
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		
		<![endif]-->
		body
			.wrapper
				include ../section/header
				block content
				include ../section/footer
			script(src="app/js/libs.min.js")
			script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.js" integrity="sha512-9ekM9CHlUVUQX0M1UYcQKzCn7WaGRocDHddevyvDQ2UBVNha49jv1o8/+dEHmTZp5HZ3UAvunsD2ySb2BkqzwQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
			script(src="app/js/app.js")
			block script
