header,footer {
    display none
}

.advan-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advan__item {
    width: 33.33%;
    padding: 22px 45px 22px 45px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 24.8155px 56.2484px rgba(0, 0, 0, 0.06);
    height: 200px;
}

.advan__item:first-child {
    border-radius: 33px 0 0 0;
}

.advan__item:nth-child(3) {
    border-radius: 0px 33px 0px 0px;
}

.advan__item:nth-child(4) {
    border-radius: 0px 0px 0px 33px;
}

.advan__item:nth-child(6) {border-radius: 0 0 33px 0;}

.advan__item-img {
    margin: 0;
    width: 155px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.advan_diz .advan__item-img {
    width: 90px;
    margin-left: 10px;
    margin-right: 70px;
}

.advan {
    margin-top: 69px;
}

.advan__item-title {
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    color: #0D0D0D;
    opacity: 0.76;
}

.advan_oborot .advan__item-title {
    max-width: 200px;
}

.advan_num {
    font-size: 74.5694px;
    line-height: 91px;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #B6945E;
    opacity: 0.9;
    font-weight: normal;
    margin-right: 10px;
}

.advan__item-img-text {
    font-weight: 600;
    font-size: 36.1068px;
    line-height: 44px;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #B6945E;
    opacity: 0.9;
}

.advan_num:last-child {
    margin-right: 0;
}

.advan_oborot .advan__item-img-text {
    font-size: 20.6093px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #B6945E;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
}

.advan_oborot .advan__item-img-text span:last-child {
    margin-top: -11px;
}