.spare_popup {
    background: #FFFFFF;
    box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.02), 0px 24.8062px 56.2274px rgba(0, 0, 0, 0.05);
    border-radius: 33.0749px 33.0749px 0px 0px;
    padding: 40px 8% 40px 4%;
    align-items: self-end;
}

.spare_alter .spare__item {
    width: 43%;
    margin-bottom: 60px;
}

.spare_alter .spare__item:nth-child(2n) {
    width: 51%;
}

.spare_alter .spare__list {
    max-width: 930px;
}

.spare__image.spare_alter {
    margin-right: 0;
    margin-left: 30px;
}