
.arrangement.arran_options {
    margin-top: 130px;
}
.arran_options .arrangement__item-img img {
    height: auto;
    align-self: center;
    flex-grow: 0;
}

@media (max-width:1366px) {
.advan__item {
    padding: 15px 35px;
    height: 135px;
}

.advan_diz .advan__item-img {
    width: 60px;
    margin-right: 40px;
}

.advan__item-title {
    font-size: 18px;
    line-height: 22px;
}

.advan__item-img {
    width: 100px;
    margin-right: 40px;
}

.advan_num {
    font-size: 52px;
    line-height: 63px;
    margin-right: 4px;
}

.advan_oborot .advan__item-img-text {
    font-size: 14px;
    line-height: 17px;
}

.advan_oborot .advan__item-img-text span:last-child {
    margin-top: -6px;
}

.advan__item-img-text {
    font-size: 24px;
    line-height: 29px;
}

.advan__item:nth-child(5) .advan__item-img img {
    width: 70px;
}




.desc {
    margin-top: 120px;
}

.accrd-selecter__select {
    font-size: 13px;
    line-height: 150%;
    padding: 22px 35px;
}

.accrd-item {
    margin-top: 27px;
    padding: 42px 50px 42px 27px;
}

.accrd-item__desc-subtitle {
    font-size: 25px;
    line-height: 33px;
}

.accrd-item__desc-title {
    font-size: 41px;
    line-height: 53px;
    margin-bottom: 25px;
}

.accrd-item__desc-info {
    font-size: 16px;
    line-height: 20px;
}

.accrd-table_title {
    font-size: 17px;
    line-height: 21px;
    padding: 19px;
}

.accrd-table_list {
    padding: 6px 57px 2px 35px;
    font-size: 12px;
    line-height: 15px;
}

.accrd-item__desc-table-item span:last-child {
    padding-left: 43px;
}

.accrd-table_list:before {
    transform: translateX(-11px);
}

.accrd-item__char-table-title {
    padding-left: 35px;
}

.accrd-item__char-title {
}

.accrd-item__char-table-wrp {
    margin-top: 30px;
}

.accrd-item__desc-table-item {
    padding: 10px 0;
}

.accrd-item__doc-name {
    font-size: 14px;
    line-height: 20px;
    max-width: 160px;
}

.accrd-item__doc-weight {
    font-size: 24px;
    line-height: 30px;
    margin-top: 5px;
}

.accrd-item__doc-name .far.fa-cloud-upload {line-height: 20px;font-size: 16px;}

.doc-name_border {
}

.accrd-item.doc_accrd {
    padding: 35px 20px;
}

.accrd-item__doc-img {
    height: 130px;
    width: 130px;
}
.pref {
    margin-top: 130px;
}

.pref__title {
    margin-bottom: 45px;
}

.pref__item {
    padding: 30px 30px 40px;
    border-radius: 23.5332px 23.5332px 0px 0px;
}

.pref__item-image {
    margin-bottom: 15px;
    width: 67px;
}

.pref__item-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}

.pref__item-desc {
    font-size: 16px;
    line-height: 20px;
}

.accrd-item {
    border-radius: 23.5332px 23.5332px 0px 0px;
}

.spare__title {
    margin-bottom: 27px;
}

.sect_title {
    font-size: 30px;
    line-height: 39px;
}

.spare__image {
    margin-right: 4%;
    width: 37%;
}

.spare__item {
    font-size: 14px;
    line-height: 17px;
    padding: 16px 0 0 21px;
}

.spare__list {
    max-width: 577px;
}

.spare__item:before {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.spare__item {
    margin-bottom: 45px;
}

.unic-popup {
    max-width: 1070px;
    padding: 32px 72px 23px 31px;
}

.unic__image {
    width: 219px;
}

.unic__title {
    font-size: 19px;
    line-height: 24px;
    max-width: 258px;
}

.unic__button {
    min-width: 411px;
    padding: 20px;
    font-size: 13px;
    line-height: 150%;
}

.unic {
    margin-top: 30px;
}

.spare {
    margin-top: 120px;
}

section.spare.spare_listing {
    margin-top: 68px;
}

.spare__image.spare_control {
    width: 33%;
}

.spare_listing .spare_popup {
    align-items: flex-start;
}

.spare__listing-item-title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
}

.spare__listing-item-info {
    font-size: 14px;
    line-height: 17px;
}

.spare__listing-item-info li {
    margin-bottom: 7px;
}

.arrangement {
    margin-top: 135px;
}

.arrangement__list {
    margin-bottom: -15px;
}

.arrangement__item {
    width: calc((100% - 45px) / 4);
    margin-right: 15px;
    margin-bottom: 15px;
    
}
.arrangement__title {
    max-width: 626px
}
.arrangement__name {
    font-size: 15px;
    line-height: 18px;
    min-height: 80px;
    padding: 10px 28px;
}

.arrangement__item-img {
    height: 217px;
    border-radius: 22.4674px 22.4674px 0px 0px; 
}

.arrangement.arran_options {
    margin-top: 100px;
}

.arran_options .arrangement__item-img img {
    transform: scale(.75);
}
}

@media (max-width:1024px) {
    .container {
    padding: 0 20px;
}

.advan__item {
    width: 100%;
    padding: 10px 15px 10px 25px;
    height: auto;
    min-height: 100px;
}

.advan__item:nth-child(2) {
    border-radius: 0;
}

.advan__item:nth-child(3) {
    border-radius: 0;
}

.advan__item:nth-child(4) {
    border-radius: 0;
}

.advan__item:nth-child(5) {
    border-radius: 0;
}

.advan__item-title {
    font-size: 12px;
    line-height: 18px;
}

.advan_diz .advan__item-img {
    margin-right: 20px;
    width: 40px;
}

.advan__item-img {
    width: 70px;
    margin-right: 10px;
}

.advan__item-img-text {
    font-size: 12px;
    line-height: 18px;
}

.advan_num {
    font-size: 30px;
    line-height: 40px;
}

.advan_oborot .advan__item-img-text span:last-child {}

.advan_oborot .advan__item-img-text {
    font-size: 9px;
    line-height: 14px;
}

.advan__item:nth-child(5) .advan__item-img img {
    width: 50px;
}

.advan {
    margin-top: 40px;
}

.desc {
    margin-top: 40px;
}

.accrd-selecter__select {
    font-size: 10px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid rgba(72,75,90,0.3) !important;
    border-radius: 3px !important;
}

.desc__accrd-selecter {
    flex-direction: column;
}

.accrd-selecter__select.item_selected:after, .accrd-selecter__select:hover:after {
    display: none;
}

.accrd-item {
    margin-top: 15px;
    padding: 15px;
    flex-direction: column;
}

.accrd-item__desc-subtitle {
    font-size: 12px;
    line-height: 16px;
}

.accrd-item__desc-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.accrd-item__desc-info {
    font-size: 10px;
    line-height: 15px;
}

.accrd-item__desc {
    margin-bottom: 20px;
}

.accrd-item__desc-table-wrp {
    margin-left: 0;
    min-width: 0;
}

.accrd-table_title {
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    border-radius: 22px 22px 0 0;
}

.accrd-table_list {
    padding: 3px 15px 2px 10px;
    font-size: 10px;
    line-height: 14px;
}

.accrd-item__desc-table-item {
    padding: 6px 0;
}

.accrd-item__desc-table-item span:last-child {
    padding-left: 20px;
}

.accrd-table_list:before {
    transform: translateX(-2px);
}

.accrd-item__char-table-wrp .accrd-item__desc-table {
    flex-direction: column;
}

.accrd-item__desc-table-row {
    width: 100%;
    padding: 0;
}

.accrd-item__char-table-wrp .accrd-item__desc-table-row:last-child .accrd-item__desc-table-item span:first-child {
    padding-left: 0;
}

.accrd-item__desc-table-row:first-child .accrd-item__desc-table-item:last-child {
    border-bottom: 1px solid rgba(222,222,222,0.55);
}

.accrd-item__doc-list {
    flex-direction: column;
    align-items: center;
}

.pref {
    margin-top: 40px;
}

.sect_title {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
}

.pref__list {
    flex-direction: column;
}

.pref__item {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
}

.pref__item:last-child {
    margin-bottom: 0;
}

.pref__item-image {
    width: 50px;
    margin-bottom: 10px;
}

.pref__item-title {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
}

.pref__item-desc {
    font-size: 10px;
    line-height: 14px;
}

.spare {
    margin-top: 40px;
}

.spare-wrp {
    flex-direction: column;
    align-items: center;
}

.spare__image {
    width: 100%;
    max-width: 400px;
    margin: 0;
}

.spare__content {
    margin-bottom: 20px;
    max-width: 500px;
}

.spare__list {
    flex-direction: column;
    margin-bottom: -25px;
}

.spare__item {
    margin-bottom: 25px;
    width: 100%;
}

.spare__item:nth-child(3), .spare__item:nth-child(4) {
    margin-bottom: 25px;
}

.spare__item:nth-child(2n) {
    width: 100%;
}

.unic-popup {
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 20px;
}

.unic__title {
    margin: 15px 0;
    font-size: 14px;
    text-align: center;
    line-height: 19px;
}

.unic__button {
    min-width: 260px;
    margin: 0;
    font-size: 9px;
    padding: 15px;
}

section.spare.spare_listing {
    margin-top: 40px;
}

.spare_alter .spare__item:nth-child(2n) {
    width: 100%;
}

.spare_alter .spare__item {
    width: 100%;
    margin-bottom: 25px;
}

.spare_popup {
    padding: 20px;
}

.spare_listing .spare_popup {
    align-items: center;
}

.spare__listing {
    flex-direction: column;
}

.spare__listing-item {
    margin: 0 0 10px;
}

.arrangement {
    margin-top: 40px;
}

.arrangement.arran_options {
    margin-top: 40px;
}

.arrangement__list {
    margin-top: 30px;
}

.arrangement__item {
    width: calc((100% - 45px) / 4);
}

.arrangement__item-img {
    height: 140px;
}

.arrangement__name {
    min-height: 60px;
    padding: 10px 15px;
    font-size: 9px;
    line-height: 12px;
}

.advan__item:first-child {
    border-radius: 22px 22px 0 0;
}

.advan__item:nth-child(6) {
    border-radius: 0 0 22px 22px;
}

.accrd-item__char-table-wrp .accrd-item__desc-table {
    padding: 5px 15px 5px 10px;
}

.accrd-item__desc-table-row:before {
    display: none;
}

.accrd-item__doc-item {
    width: 100%;
    justify-content: center;
}

.spare__image.spare_control {
    width: 100%;
    margin: 0;
}

.arran_options .arrangement__item-img img {height: 100%;transform: none;}
    
}

@media (max-width:768px) {
.arrangement__item:nth-child(2n) {
    margin-right: 0;
}

.arrangement__item {
    width: calc((100% - 15px) / 2);
}   
}