.pref {
    margin-top: 180px;
}

.pref__title {
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
/* or 131% */
    text-align: center;
    color: #3E3E3E;
    max-width: 883px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.pref__list {
    display: flex;
}

.pref__item {
    background: #FFFFFF;
    box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.02), 0px 24.8062px 56.2274px rgba(0, 0, 0, 0.05);
    border-radius: 33.0749px 33.0749px 0px 0px;
    padding: 42px 5% 48px 52px;
    width: 33%;
}

.pref__item-image {
    margin: 0 0 24px;
    width: 94px;
}

.pref__item-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #3E3E3E;
    margin-bottom: 15px;
}

.pref__item-desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #3E3E3E;
    opacity: 0.6;
}

.pref__item:nth-child(2) {
    position: relative;
}