section.spare.spare_listing {
    margin-top: 90px;
}

.spare__image.spare_control {
    margin-right: 0;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.spare__listing {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.spare_listing .spare_popup {
    align-items: center;
}

.spare__listing-item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
    margin-bottom: 15px;
}

.spare__listing-item-info {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
}

.spare__listing-item-info li {
    margin-bottom: 10px;
}

.spare__listing-item {
    margin-right: 50px;
}