

.unic {
    margin-top: 10px;
}

.unic-popup {
    background: #FFFFFF;
    box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.02), 0px 24.8062px 56.2274px rgba(0, 0, 0, 0.05);
    border-radius: 33.0749px 33.0749px 0px 0px;
    display: flex;
    max-width: 1508px;
    margin: 0 auto;
    padding: 44px 100px 44px 44px;
    align-items: center;
}

.unic__image {
    width: 308px;
    flex-shrink: 0;
}

.unic__title {
    font-weight: 600;
    font-size: 26.2182px;
    line-height: 34px;
/* or 131% */
    color: #3E3E3E;
    max-width: 363px;
    margin-right: auto;
}

.unic__button {
    margin-left: 20px;
    min-width: 577px;
}