
/* помощники */
.xl_visible {
    display none
}
.m_visible {
    display none
}

@media (max-width:1800px) {
// Общие стили
.container {
    padding 0 40px
}

/* Стили секции header */
.styles_header{
    opacity: 1
}

.nav__elem {
    padding: 15px 30px;
    white-space: nowrap;
}
.nav__elem:last-child {
    padding: 13px 17px;
}

.nav__elem-text.search-icon {
    font-size: 17px;
    line-height: 17px;
}

.header__nav {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.055em;
}
.personal__item {
    font-size: 18px;
    line-height: 18px;
}

.personal__item-counter {
    font-size: 6px;
    line-height: 7px;
    letter-spacing: 0.03em;
    padding: 2px 4px;
    right: -6px;
    top: -3px;
}

.personal__list {
    position: absolute;
    top: 0;
    right: 47px;
}

.header .container {
    position: relative;
    padding-top: 37px;
}
.header__info-item:not(:last-child) {
    margin-right: 18px;
}

.logo__desc {
    font-size: 12px;
    line-height: 15px;
}

.header__info-list {
    margin-right: 0;
}

.logo__img {
    max-width: 176px;
    margin-right: 22px;
}
.header__personal {
    flex-direction: column;
}

.header__tel {
    font-size: 16px;
    line-height: 150%;
    margin-left: auto;
    margin-bottom: 6px;
}

.tel_smaller {
    font-size: 10px;
    line-height: 12px;
    max-width: 103px;
    display: flex;
    text-align: left;
    align-items: flex-start;
    margin-top: 1px;
}

.header__tel .fa-phone {
    display: block;
    transform: translateY(1px);
    margin-right: 7px;
}

.header__info-mail {
    font-size: 12px;
    line-height: 150%;
    margin-left: auto;
}

.mail_icon i {
    font-size: 9px;
    line-height: 150%;
/* identical to box height, or 13px */
    letter-spacing: -0.02em;
    margin-right: 6px;
}
.header {
    margin-bottom: -205px;
}
/* Стили секции header */

/* Стили секции hero */
.styles_hero {
    opacity: 1    
}
.hero__content {
    padding: 0 60px 30px;
}

.sect_title {
    font-size: 30px;
    line-height: 39px;
}

.hero__title {
    margin-bottom: 19px;
    max-width: 712px;
}

.hero__desc {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: rgba(255,255,255,.9);
    max-width: 387px;
    padding-bottom: 30px;
}

.btn {
    font-size: 12px;
    line-height: 150%;
/* or 18px */
    letter-spacing: 0.05em;
    padding: 24px;
    min-width: 318px;
}

.hero__advan {
    display: none;
}

.hero__content:after {
    width: 392px;
    height: 392px;
    transform: rotate(7deg);
    top: -71px;
    left: -23px;
}

.hero {
    padding-top: 235px;
}
/* Стили секции hero */

/* Стили секции product */
.styles_product {
    opacity: 1;    
}
.hero__content {
    padding: 0 60px 30px;
}

.sect_title {
    font-size: 30px;
    line-height: 39px;
}

.hero__title {
    margin-bottom: 19px;
    max-width: 712px;
}

.hero__desc {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: rgba(255,255,255,.9);
    max-width: 387px;
    padding-bottom: 30px;
}

.btn {
    font-size: 12px;
    line-height: 150%;
/* or 18px */
    letter-spacing: 0.05em;
    padding: 24px;
    min-width: 318px;
}

.hero__advan {
    display: none;
}

.hero__content:after {
    width: 392px;
    height: 392px;
    transform: rotate(7deg);
    top: -71px;
    left: -23px;
}

.hero {
    padding-top: 235px;
}

.slider__arrow {
    width: 60px;
    height: 60px;
}

.slider__arrow svg {
    width: 20px;
    height: 20px;
}

.product__list {
    padding: 42px 50px 22px;
    height: auto;
}

.product__item-title {
    padding-bottom: 14px;
    max-width: 460px;
}

.product__item-desc {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
}

.product__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 45%;
    margin-bottom: -40px;
}

.product__item-price {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
}

.product__item-price b {
    font-size: 51px;
    line-height: 62px;
    margin-left: 13px;
}

.product__item-link {
    margin-bottom: 20px;
}

.product__item-img img {
    max-height: 553px;
    max-width: 100%;
}

.product {
    height: auto;
}

.product__slider {
    height: auto;
}

.product__list .slick-track {
    height: auto;
}

.product__item-img {
    max-width: 55%;
}
/* Стили секции product */

/* Стили секции advan */
.styles_advan {
    opacity: 1    
}
.sect_margin {
    margin-top: 109px;
}

.advan__title {
    max-width: 900px;
    margin-bottom: 14px;
}

.sect_desc {
    font-size: 14px;
    line-height: 17px;
}

.advan__desc {
    max-width: 559px;
    margin-bottom: 36px;
}

.advan__item {
    padding: 10px 25px 25px;
}

.advan__item-img {
    max-height: 136px;
    margin-bottom: 20px;
}

.advan__item-img img {
    max-height: 100%;
}

.advan__item-img:after {
    width: 132px;
    height: 25px;
}

.default_item-title {
    font-size: 12px;
    line-height: 15px;
}

.advan__item-desc {
    font-size: 12px;
    line-height: 15px;
    max-width: 185px;
}

span.advan__item-price {
    font-size: 17px;
    line-height: 21px;
}

.advan__item-info {
    font-size: 10px;
    line-height: 12px;
}


/* Стили секции advan */

/* Стили секции any */
.styles_advan {
    opacity: 0    
}
.any__title {
    text-align: center;
    max-width: 523px;
    margin-bottom: 50px;
}

.any__item-title {
    padding-top: 15px;
}

.any__item {
    padding: 14px 27px 21px;
}

.any__item-img {
    height: 150px;
}

.any__item-img img {
    max-height: 100%;
}

.any__item:nth-child(3) .any__item-img img {
    max-height: 139px;
}

.any__item:nth-child(2) .any__item-img img {
    max-height: 230px;
}
/* Стили секции any */

/* Стили секции services */
.services_styles {
    opacity: 0
}
.services__title {
    max-width: 800px;
}

.services__item {
    width: calc((100% - 54px) / 4);
    height: 306px;
    margin-bottom: 18px;
    border-radius: 22.2522px 22.2522px 0px 0px;
}

.services__item-img-front {
    min-height: 175px;
    width: 100%;
}

.services__item-content {
    padding: 10px 17px;
    min-height: 131px;
}

.services__item-title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
}

.services__item-desc {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 6px;
}
/* Стили секции services */

/* Стили секции clients */
.clients_styles {
    opacity: 0    
}
.services__title {
    max-width: 800px;
}

.services__item {
    width: calc((100% - 54px) / 4);
    height: 306px;
    margin-bottom: 18px;
    border-radius: 22.2522px 22.2522px 0px 0px;
}

.services__item-img-front {
    min-height: 175px;
    width: 100%;
}

.services__item-content {
    padding: 10px 17px;
    min-height: 131px;
}

.services__item-title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
}

.services__item-desc {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 6px;
}

.clients__title {
    max-width: 1000px;
    margin-bottom: 20px;
}

.clients__desc {
    margin-bottom: 47px;
    max-width: 692px;
}

.clients__item {
    height: 133px;
}

.clients__item-img {
    width: 180px;
}

.clients__item-img img {
    max-height: 100%;
}

.clients__item-title {
    font-size: 18px;
    line-height: 22px;
    padding-right: 31px;
}
/* Стили секции clients */


/* Стили секции dignity */
.styles_dignity {
    opacity: 0    
}
.dignity__item-img {height: 45px;margin-bottom: 14px;}

.dignity__item-img img {
    max-height: 100%;
}

.dignity__item-desc {
    font-size: 14px;
    line-height: 17px;
}

.dignity__list {
    padding: 0 20px;
}
/* Стили секции dignity */

/* Стили секции partners */
.styles_partners {
    opacity: 0    
}
.partners {
    margin-top: 130px;
}

.partners__content {
    max-width: calc(100% - 433px);
}

.partners__popup-wrp {
    max-width: 390px;
    padding: 0 54px 41px;
    margin-bottom: 68px;
}

.partners__popup-title {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 15px;
}

.partners__popup-desc {
    font-size: 14px;
    line-height: 17px;
    max-width: 248px;
}

.partners__popup-img {
    margin-bottom: 11px;
    height: 66px;
    margin-top: -47px;
}

.partners__title {
    padding-bottom: 17px;
}

.partners__desc {
    max-width: 650px;
    margin-bottom: 100px;
}

.slick-dotted.slick-slider.partners__list {
    margin-bottom: 68px;
}

.partners__item-img img {
}

.partners__list .slick-dots {
    bottom: -68px;
}

.partners__list .slick-dots li {
    width: 11px;
    margin: 0 3.5px;
}

.partners__list .slick-dots li button {
    width: 11px;
}

.partners__list .slick-dots li button:before {
    width: 11px;
    font-size: 11px;
}
/* Стили секции partners */

/* Стили секции guarantee */
.styles_guarantee {
    opacity: 0    
}
.guarantee {
    margin-top: 70px;
}

.guarantee-img {
    margin-right: 1.2%;
    width: 37.8%;
}

.guarantee__advan-num {
    font-size: 155px;
    line-height: 203px;
}

.guarantee__advan-text {
    font-size: 24px;
    line-height: 31px;
}

.guarantee__advan-text .text_gold {
    font-size: 47px;
    line-height: 61px;
}

.guarantee__section {
    margin-right: 4%;
    width: 44%;
}

.guarantee__advan:first-child {
    margin-right: 0;
}

.guarantee__section:last-child {
    width: 52%;
}

.guarantee__info-desc {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-bottom: 34px;
}

.guarantee__info-conditions {
    margin-bottom: 45px;
}

.guarantee__info-conditions-img {
    margin-right: 20px;
    max-width: 53px;
}

.guarantee__info-conditions-text {
    font-size: 15px;
}

.guarantee__info-note {
    font-size: 12px;
    line-height: 15px;
    margin: 15px 0 0;
    max-width: 318px;
}

.guarantee__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.guarantee__popup.popup_block {
    padding: 28px 23px 33px 26px;
    margin-top: 28px;
    border-radius: 23.6037px 23.6037px 0px 0px;
}

.guarantee__popup-title {
    font-size: 19px;
    line-height: 25px;
    padding-bottom: 16px;
}

.guarantee__popup-desc {
    font-size: 14px;
    line-height: 17px;
}
/* Стили секции guarantee */

/* Стили секции dilers */
.styles_dilers {
    opacity: 0    
}
.dilers__title {
    max-width: 734px;
    margin-bottom: 45px;
}

.dilers__map {
    height: 430px;
}

.dilers__map-img {
    margin: 0 -40px;
}

.dilers__info-popup {
    padding: 62px 62px 70px 50px;
    border-radius: 23.6037px 23.6037px 0px 0px;
}

.dilers__info-title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 20px;
}

.dilers__info-mail {
    font-size: 17px;
    margin-bottom: 30px;
}

.dilers__info-mail.mail_icon i {
    font-size: 13px;
    line-height: 150%;
}

.dilers__info-tel {
    font-size: 20px;
}

.tel_icon i {
    font-size: 12px;
    line-height: 12px;
    margin-right: 12px;
}

.dilers__buttons-popup.popup_block {
    border-radius: 23.6037px 23.6037px 0px 0px;
    padding: 40px 32px 32px 44px;
}

.dilers__buttons-link:first-child {
    margin-right: 11px;
}

.dilers__buttons-item.btn_smaller {
    min-width: 229px;
    padding: 22px;
}
.dilers {
    padding-bottom: 80px;
}
/* Стили секции dilers */

/* Стили секции work-open */
.styles_work-open {
    opacity: 0    
}
.dilers {
    padding-bottom: 80px;
}

.work-open:after {
    height: 326px;
    top: -80px;
    z-index: -1;
}

.work-open-wrp {
    max-width: 880px;
}

.work-open__img {
    max-width: 104px;
    margin-right: 29px;
}

.work-open__main {
    max-width: 425px;
    margin-right: 20px;
}

.work-open__desc {
    font-size: 21px;
    line-height: 26px;
}

.work-open__link {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 10px;
}
/* Стили секции work-open */

/* Стили секции consult */
.styles_consult {
    opacity: 0    
}
.consult {
    margin-top: 270px;
    padding: 74px 0;
}

.consult__form {
    padding-right: 13%;
}

.consult__content {
    padding-left: 5%;
}

.form-wrp {
    padding: 40px 50px 40px 40px;
}

.form__title {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.form__desc {
    max-width: 230px;
    margin-bottom: 38px;
    font-size: 13px;
    line-height: 16px;
}

.form__label-title {
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.form__label-input {
    padding: 21px 19px;
    font-size: 15px;
    line-height: 18px;
}

.form__label {
    margin-bottom: 24px;
}

.form__label-social-icon {
    width: 24px;
    height: 24px;
}

.form__label-social {
    margin-right: 8px;
}

.form__button {
    font-size: 13px;
    margin-bottom: 13px;
}

.form__label:last-child {
    margin-bottom: 0;
}

.form__label-text {
    font-size: 8px;
    line-height: 150%;
}

.consult__title {
    margin-bottom: 18px;
}

.consult__desc {
    max-width: 245px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 45px;
}

.contact__title {
    font-size: 23px;
    line-height: 28px;
    margin-right: 30px;
}

.contact__advan-item {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
}

.contact__advan-item-icon.fa-cog {
    font-size: 30px;
    line-height: 30px;
}

.contact__advan-item-icon:after {
    width: 90%;
    height: 100%;
}

.contact__advan-item-icon.fa-chart-line {
    font-size: 29px;
    line-height: 29px;
}

.contact__advan-item-icon.fa-box-open {
    font-size: 28px;
    line-height: 28px;
}

.contact__advan-item-icon {
    width: 33px;
    margin-right: 15px;
}
.consult {
    background: url('../img/content/consult-bg-xl.png');
    background-size: cover;
    background-position: center;
}
.consult__content:before {
    left: -10px    
}
/* Стили секции consult */

/* Стили секции seo */
.styles_seo  {
    opacity: 0    
}
.seo__title {
    margin-bottom: 10px;
}

.seo__desc {
    font-size: 14px;
    line-height: 17px;
    max-width: 910px;
}
/* Стили секции seo */

/* Стили секции modals */
.styles_modals{
    opacity: 0    
}
/* Стили секции modals */

/* Стили секции footer */
.styles_footer {
    opacity: 0    
}
.footer {
    margin-top: 99px;
    padding-bottom: 75px;
}

.footer__logo {
    max-width: 192px;
    margin-bottom: 28px;
    margin-right: 0;
}

.footer__link {
    font-size: 12px;
    margin-bottom: 12px;
    white-space: nowrap;
}

.footer__left-content {
    margin-right: auto;
}

.footer__copyright {
    font-size: 12px;
    line-height: 15px;
}

.footer__nav-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
}

.footer__nav-item {
    font-size: 12px;
    line-height: 14px;
}

.footer__nav-link span {
    padding-bottom: 1px;
}

.footer__social-item {
    margin-right: 8px;
}

.footer__social-item svg {
    max-height: 22px;
    max-width: 22px;
}

.footer__social-item:first-child svg {
    max-width: 27px;
}

.footer__info-tel {
    font-size: 22px;
    margin-bottom: 19px;
}

.footer__info-tel .tel_smaller {
    text-align: end;
    font-size: 13px;
    line-height: 16px;
    max-width: none;
}

.footer__info-tel .tel_smaller .fal {
    font-size: 10px;
    line-height: 10px;
    margin-right: 6px;
}

.footer__info-schedule {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 14px;
}

.footer__info-dev {
    font-size: 10px;
    line-height: 12px;
}

.footer__info-dev .text_gold {
    font-size: 12px;
    line-height: 150%;
}

.footer__info-dev span:first-child {
    margin-right: 7px;
}

.footer__info-dev .text_gold span:first-child {
    margin-right: 4px;
}

.footer__info-dev .far {
    font-size: 13px;
    line-height: 13px;
}

.footer__info-sitemap {
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 2px;
}
/* Стили секции footer */


/* помощники */

.xl_hidden {
    display none
}
.xl_visible {
    display block
}

}

@media (max-width:1366px) {
// Общие стили
.container {
    padding: 0 20px;
}
.sect_title {
    font-size: 25px;
    line-height: 32px;
}
.sect_margin {
    margin-top: 60px;
}

/* Стили секции header */

.styles_header{
    opacity: 1
}
.logo__desc {
    display: none;
}

.header__bottom {
    flex-direction: column;
}

.nav__elem {
    padding: 10px 20px;
    flex-grow: 1;
    border-right: 1px solid #fff;
    border-left: 0;
    text-align: center;
}

.nav__elem:last-child {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 0;
    border: none !important;
}

.search-wrp {
    background-color: transparent;
}

.search-wrp {
    /* display: none; */
}

.header__nav {
    width: 100%;
}

.nav__elem:first-child {
    border-radius: 0;
    border-left: 1px solid #fff;
}

.header {
    margin-bottom: -160px;
}

.header__personal {
}

.header__tel {
    display: none;
}

.header__info-mail {
    display: none;
}
/* Стили секции header */




/* Стили секции hero */
.styles_hero {
    opacity: 1
}
/* Стили секции hero */

/* Стили секции product */
.styles_product {
    opacity: 1
}
.product__item-content {max-width: 50%;}

.product__item-wrp {
    padding: 30px 0 60px;
}

.product__item-img img {
    max-height: 400px;
    max-width: 100%;
}


.product__item-img {
    max-width: 45%;
}

.product__item-desc {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 15px;
}

.product__item-price {
    font-size: 30px;
    line-height: 35px;
}

.product__item-price b {
    font-size: 45px;
    line-height: 45px;
}
/* Стили секции product */

/* Стили секции advan */
.styles_advan {
    opacity: 1
}

.advan__item-info {
    font-size: 8px;
    line-height: 12px;
}

span.advan__item-price {
    font-size: 14px;
    line-height: 14px;
}

.advan__item {
    padding: 10px 15px 15px;
}

.advan__item-desc {
    font-size: 10px;
    line-height: 12px;
    max-width: 165px;
}
/* Стили секции advan */

/* Стили секции any */
.styles_any {
    opacity: 1
}
/* Стили секции any */

/* Стили секции services */
.styles_services {
    opacity: 1
}
/* Стили секции services */

/* Стили секции clients */
.styles_clients {
    opacity: 1
}
.clients__title {
    max-width: 801px;
}

.clients__item {
    width: calc((100% - 23px) / 2);
}


/* Стили секции clients */

/* Стили секции dignity */
.styles_dignity {
    opacity: 1
}

.dignity {
    margin-top: 40px;
}
/* Стили секции dignity */

/* Стили секции partners */
.styles_partners {
    opacity: 1
}
.partners {
    margin-top: 80px;
}
/* Стили секции partners */

/* Стили секции guarantee */
.styles_guarantee {
    opacity: 0    
}
.guarantee__advan-num {
    font-size: 130px;
    line-height: 150px;
}

.guarantee__advan-text {
    font-size: 18px;
    line-height: 22px;
}

.guarantee__advan-text .text_gold {
    font-size: 32px;
    line-height: 39px;
}

.guarantee__popup-title {
    font-size: 16px;
    line-height: 20px;
}

.guarantee__popup-desc {
    font-size: 12px;
    line-height: 16px;
}

.btn {
    min-width: 240px;
    padding: 18px;
    font-size: 10px;
}

.guarantee__info-note {
    font-size: 10px;
    max-width: 240px;
    margin-top: 10px;
}

.guarantee-img {
    margin-top: 26px;
    margin-right: 2%;
    width: 37%;
}

.guarantee__info-conditions-text {
    font-size: 12px;
}

.guarantee__info-conditions-img {
    max-width: 45px;
}
/* Стили секции guarantee */

/* Стили секции dilers */
.styles_dilers {
    opacity: 0    
}
.dilers__buttons-item.btn_smaller {
    padding: 17px;
    min-width: 180px;
}

.dilers__buttons-popup.popup_block {
    padding: 30px 22px 22px 32px;
}

.dilers__info-popup {
    padding: 50px 50px 60px 40px;
}
/* Стили секции dilers */

/* Стили секции work-open */
.styles_work-open {
    opacity: 0    
}
/* Стили секции work-open */

/* Стили секции consult */
.styles_consult {
    opacity: 0    
}
.consult__form {
    padding-right: 4%;
    width: 40%;
}

.consult__content {
    width: 50%;
}
/* Стили секции consult */

/* Стили секции seo */
.styles_seo  {
    opacity: 0    
}
/* Стили секции seo */

/* Стили секции modals */
.styles_modals{
    opacity: 0    
}

.form_default .form-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    width: 100%;
}
.form__desc {
    margin-bottom: 15px;
}
.consult__form {
    padding-right: 4%;
    width: 40%;
}

.consult__content {
    width: 50%;
}

.form__desc {
    margin-bottom: 15px;
}

.form_default .form-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    width: 100%;
}

.form_no-label-titles .form__label {
    margin-bottom: 12px;
}

.form__label {
    margin-bottom: 20px;
}

.form__label-input {
    padding: 16px 13px;
    font-size: 16px;
    line-height: 20px;
}

.form_default .form__label-input {
    font-size: 16px;
    line-height: 20px;
}

textarea.form__label-input {
    height: 100px;
}

.modal__form {
    width: 400px;
}
/* Стили секции modals */

/* Стили секции footer */
.styles_footer {
    opacity: 0    
}
.footer__social-list {
    margin-right: 20px;
}

.footer__link {
    font-size: 10px;
}

.footer__nav-item {
    font-size: 10px;
    line-height: 14px;
    margin-right: 50px;
}

.footer__nav-link {
    margin-bottom: 14px;
}
/* Стили секции footer */


/* помощники */

}

@media (max-width:1024px) {
// Общие стили
.sect_title {
    font-size: 20px;
    line-height: 28px;
}

.popup_block {
    box-shadow: 0px -2px 19px rgb(0 0 0 / 2%), 0px 24.8062px 19px rgb(0 0 0 / 5%);
}

.sect_desc {
    font-size: 12px;
    line-height: 16px;
}
.sect_margin {
    margin-top: 40px;
}
.btn {
    min-width: 200px;
    padding: 15px;
}

/* Стили секции header */

.styles_header{
    opacity: 1
}
.header__info-list {
    display: none;
}

.header__nav {
    display: none;
}

.header .container {
    padding-top: 0;
}

.header__top {
    margin-bottom: 0;
}

.header {
    margin-bottom: -62px;
}
/* Стили секции header */

/* Стили секции hero */
.styles_hero {
    opacity: 1
}
.hero {
    padding-top: 100px;
    padding-bottom: 70px;
}

.hero__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    text-align: center;
    max-width: 518px;
    margin-bottom: 15px;
}

.hero__content:after {
    display: none;
}

.hero__desc {
    text-align: center;
    padding-bottom: 20px;
}

/* Стили секции hero */

/* Стили секции product */
.styles_product {
    opacity: 1
}
.product__item-price b {
    font-size: 30px;
    margin-left: 5px;
    line-height: 40px;
}

.product__item-price {
    font-size: 24px;
    line-height: 32px;
}

.product__item-link {
    margin-bottom: 10px;
}

.product__item-desc {
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 10px;
}

.product__item-title {
    padding-bottom: 8px;
    font-size: 17px;
    line-height: 24px;
}

.slider__arrow {
    width: 30px;
    height: 30px;
}

.slider__arrow svg {
    width: 12px;
    height: 12px;
}

.product__item.slick-slide {
    padding: 0 20px;
}

.product__list {
    padding: 0px 30px;
}

.product__item-wrp {
    flex-direction: column-reverse;
    padding: 20px 0 60px;
}

.product__item-content {
    max-width: none;
    text-align: center;
    align-items: center;
    margin-top: 15px;
}

.product__item-img {
    max-width: 250px;
}
/* Стили секции product */

/* Стили секции advan */
.styles_advan {
    opacity: 1
}
.advan__desc {
    margin-bottom: 20px;
}

.advan__item {
    width: calc(50% - 11px);
    margin-right: 22px;
    margin-bottom: 22px;
}

.advan__list {
    flex-wrap: wrap;
    margin-bottom: -22px;
}

.advan__item:nth-child(2n) {
    margin-right: 0;
}
/* Стили секции advan */

/* Стили секции any */
.styles_any {
    opacity: 1
}
.any__title {
    margin-bottom: 30px;
}

.any__item-img {
    height: 120px;
}

.any__item:nth-child(3) .any__item-img img {
    max-height: 127px;
}

.any__item {
    padding: 10px 15px 12px;
    width: 50%;
    margin-bottom: 30px;
}

.any__item-title {
    padding-top: 10px;
}

.any__list {
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.any__item:nth-child(2) .any__item-img img {
    max-height: 186px;
}
/* Стили секции any */

/* Стили секции services */
.styles_services {
    opacity: 1
}
.services__title {
    margin-bottom: 25px;
}
.services__list {
    margin-bottom: -18px
}
.services__item {
    width: calc((100% - 15px) / 2);
    height: 220px;
}

.services__item-content {
    padding: 10px;
    min-height: 100px;
}

.services__item-title {}
/* Стили секции services */

/* Стили секции clients */
.styles_clients {
    opacity: 1
}
.clients__desc {
    margin-bottom: 30px;
}

.clients__title {
    margin-bottom: 10px;
}

.clients__item {
    width: 100%;
}
/* Стили секции clients */

/* Стили секции dignity */
.styles_dignity {
    opacity: 1
}
.dignity__list {
    padding: 0;
}

.dignity__item {
    width: calc((100% - 6%) / 3);
}

.dignity__item-img {
    height: 35px;
    margin-bottom: 10px;
}

.dignity__item-desc {
    font-size: 10px;
    line-height: 14px;
}
/* Стили секции dignity */

/* Стили секции partners */
.styles_partners {
    opacity: 1
}
.partners-wrp {
    flex-direction: column;
}

.partners__content {
    max-width: 100%;
}

.partners__popup-wrp {
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.partners {
    margin-top: 40px;
}

.partners__desc {
    margin-bottom: 40px;
}

.slick-dotted.slick-slider.partners__list {
    margin-bottom: 100px;
}

.partners__popup-img {
    height: 50px;
    margin-top: -25px;
    width: 50px;
}

.partners__list .slick-dots {
    bottom: -50px;
}

.partners__popup-title {
    max-width: 400px;
}
/* Стили секции partners */

/* Стили секции guarantee */
.styles_guarantee {
    opacity: 0    
}
.guarantee-wrp {
    flex-wrap: wrap;
}

.guarantee-img {
    width: 300px;
    max-width: 100%;
    margin: 0 auto 20px 0;
}

.guarantee__advan-num {
    font-size: 60px;
    line-height: 80px;
}

.guarantee__advan-text .text_gold {
    font-size: 20px;
    line-height: 24px;
}

.guarantee__advan-text {
    font-size: 12px;
    line-height: 16px;
}

.guarantee__info-desc {
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 14px;
}

.guarantee__info-conditions-img {
    max-width: 35px;
    margin-right: 10px;
}

.guarantee__info-conditions-text {
    font-size: 10px;
    max-width: 195px;
}

.guarantee__info-conditions {
    margin-bottom: 15px;
}

.guarantee__info-note {
    font-size: 8px;
    max-width: 200px;
}

.guarantee__popup.popup_block {
    margin-top: 10px;
    padding: 16px  12px 20px 16px;
}

.guarantee__popup-title {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 10px;
}

.guarantee__popup-desc {
    font-size: 10px;
    line-height: 14px;
}
/* Стили секции guarantee */

/* Стили секции dilers */
.styles_dilers {
    opacity: 0    
}
.dilers__title {
    margin-bottom: 15px;
    max-width: 500px
}

.dilers__map-img {
    margin: 0 -20px;
    height: 300px;
}

.dilers {
    padding-bottom: 40px;
}

.dilers__map {
    height: auto;
}

.dilers__info-popup {
    position: static;
    transform: none;
    margin-bottom: -70px;
    max-width: 200px;
    padding: 20px 20px 30px 15px;
    z-index 2
    position relative
}

.dilers__info-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}

.dilers__info-mail {
    font-size: 14px;
    margin-bottom: 15px;
}

.dilers__info-mail.mail_icon span {
    border-bottom-width: 1px;
}

.dilers__info-tel {
    font-size: 16px;
}

.dilers__buttons-item.btn_smaller {
    padding: 14px;
}

.dilers__buttons-popup.popup_block {
    padding: 15px;
    flex-direction: column;
}

.dilers__buttons-link {
}

.dilers__buttons-item {
    width: 100%;
}

.dilers__buttons-link:first-child {
    margin: 0 0 10px;
}
.dilers__info-mail {
    font-size: 10px;
}

.dilers__info-mail.mail_icon i {
    font-size: 10px;
    margin-right: 5px;
}

.tel_icon i {
    font-size: 8px;
    margin-right: 10px;
}

.dilers__info-tel {
    font-size: 12px;
}
/* Стили секции dilers */

/* Стили секции work-open */
.styles_work-open {
    opacity: 0    
}
.work-open__img {
    max-width: 80px;
    margin-right: 0;
    margin-bottom: 20px;
}

.work-open-wrp {
    flex-direction: column;
}

.work-open__links {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.work-open__link {
    margin-bottom: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

.work-open__link:last-child {
    margin-right: 0;
    margin-bottom: 10px;
}

.work-open__title {
    margin-bottom: 7px;
}

.work-open__desc {
    font-size: 14px;
    line-height: 20px;
}

.work-open__main {
    margin-right: 0;
    text-align: center;
}

.work-open:after {
    height: 185px;
}


/* Стили секции work-open */

/* Стили секции consult */
.styles_consult {
    opacity: 0    
}
.consult {
    margin-top: 80px;
    padding: 40px 0;
}
.work-open__img {
    max-width: 80px;
    margin-right: 0;
    margin-bottom: 20px;
}

.work-open-wrp {
    flex-direction: column;
}

.work-open__links {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.work-open__link {
    margin-bottom: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

.work-open__link:last-child {
    margin-right: 0;
    margin-bottom: 10px;
}

.work-open__title {
    margin-bottom: 7px;
}

.work-open__desc {
    font-size: 14px;
    line-height: 20px;
}

.work-open__main {
    margin-right: 0;
    text-align: center;
}

.work-open:after {
    height: 185px;
}

.popup_block {
    box-shadow: 0px -2px 19px rgba(0, 0, 0, .02), 0px 24.8062px 19px rgba(0,0,0,.05);
}

.consult {
    margin-top: 80px;
    padding: 40px 0;
}

.consult-wrp {
    flex-direction: column;
}

.consult__content {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
}

.consult__form {
    width: 100%;
    padding-right: 0;
    max-width: 350px;
    margin: 0 auto;
}

.form-wrp {
    padding: 20px 25px 20px 20px;
}

.consult__content:before {
    display: none;
}

.consult__contact {
    justify-content: flex-start;
}

.consult__title {
    max-width: 428px;
}

.consult__desc {
    margin-bottom: 25px;
}
/* Стили секции consult */

/* Стили секции seo */
.styles_seo  {
    opacity: 0    
}
.seo {
    margin-top: 40px;
}
/* Стили секции seo */

/* Стили секции modals */
.styles_modals{
    opacity: 0    
}
/* Стили секции modals */

/* Стили секции footer */
.styles_footer {
    opacity: 0    
}
.footer-wrp {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__left-content {
    margin-right: 0;
    margin-bottom: 20px;
}

.footer__nav {
    margin-right: 0;
    margin-bottom: 20px;
}

.footer__right-content {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
}

.footer__social-list {
    margin-bottom: 20px;
}

.footer__info {
    align-items: center;
}

.footer__info-schedule {
    text-align: center;
}

.footer__info-tel .tel_smaller {
    justify-content: center;
}

.footer {
    padding-bottom: 40px;
}
/* Стили секции footer */


/* помощники */
.m_visible {
    display block
}

}
@media (max-width:480px) {
// Общие стили
.sect_title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}

.sect_desc {
    font-size: 10px;
    line-height: 14px;
}

.btn {
    box-shadow: 0px 14px 18px rgba(38, 164, 204, .2), inset 0px 7px 18px rgba(255,255,255, .1);
}
.btn_invert-colors {
    box-shadow: inset 0px 5.51064px 22.0426px rgba(255,255,255,.1);
}
/* Стили секции header */

.styles_header{
    opacity: 1
}
.logo__img {
    max-width: 130px;
    margin-right: 0;
    
}

.personal__item {
    margin-right: 15px;
    font-size: 14px;
}

.personal__list {
    top: 2px;
    right: 20px;
}


/* Стили секции header */

/* Стили секции hero */
.styles_hero {
    opacity: 1
}

.hero {
    padding-top: 80px;
}


.hero__desc {
    padding-bottom: 15px;
}
/* Стили секции hero */

/* Стили секции product */
.styles_product {
    opacity: 1
}

.product__item.slick-slide {
    padding: 0 10px;
}
/* Стили секции product */

/* Стили секции advan */
.styles_advan {
    opacity: 1
}
.advan__item {
    width: 100%;
    margin: 0 0 12px;
}


.advan__list {
    margin-bottom: -12px;
}
/* Стили секции advan */

/* Стили секции any */
.styles_any {
    opacity: 1
}
.any__item {
    width: 100%;
    margin-bottom: 12px;
}

.any__list {
    margin-bottom: -12px;
}
/* Стили секции any */

/* Стили секции services */
.styles_services {
    opacity: 1
}
.services__list {
    margin-bottom: -12px;
}

.services__item {
    margin-bottom: 12px;
    width: 100%;
}
/* Стили секции services */

/* Стили секции clients */
.styles_clients {
    opacity: 1
}
.clients__item-img {
    width: 120px;
}

.clients__item {
    height: 120px;
    margin-bottom: 15px;
}

.clients__item-title {
    font-size: 12px;
    line-height: 18px;
    padding-left: 15px;
}
/* Стили секции clients */

/* Стили секции dignity */
.styles_dignity {
    opacity: 1
}
.dignity__item {
    width: 100%;
    margin-bottom: 20px;
}

.dignity__list {
    flex-wrap: wrap;
    margin-bottom: -20px;
}
/* Стили секции dignity */

/* Стили секции partners */
.styles_partners {
    opacity: 1
}
.partners__popup-wrp {
    padding: 0 25px 20px;
}

.partners__popup-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.partners__popup-desc {
    font-size: 12px;
}

.partners__list .slick-dots li button:before {
    width: 8px;
    font-size: 8px;
}

.partners__list .slick-dots li button {
    width: 8px;
}

.partners__list .slick-dots li {
    width: 8px;
    margin: 0 3px;
}
/* Стили секции partners */

/* Стили секции guarantee */
.styles_guarantee {
    opacity: 0    
}
.guarantee__content {
    flex-direction: column;
}

.guarantee__section {
    width: 100%;
    margin: 0 0 20px;
}

.guarantee__section:last-child {
    width: 100%;
    margin-bottom: 0;
}
/* Стили секции guarantee */

/* Стили секции dilers */
.styles_dilers {
    opacity: 0    
}
.dilers__info-popup {
    margin-bottom: 0;
    max-width: none;
}

.dilers__buttons-popup.popup_block {
    border-radius: 0 0 23.6037px 23.6037px;
    position: static;
    order: 3;
}

.dilers__map {
    display: flex;
    flex-direction: column;
}
/* Стили секции dilers */

/* Стили секции work-open */
.styles_work-open {
    opacity: 0    
}
/* Стили секции work-open */

/* Стили секции consult */
.styles_consult {
    opacity: 0    
}
.consult__contact {
    flex-direction: column;
}

.contact__title {
    margin-bottom: 20px;
    margin-right: 0;
}
/* Стили секции consult */

/* Стили секции seo */
.styles_seo  {
    opacity: 0    
}
/* Стили секции seo */

/* Стили секции modals */
.styles_modals{
    opacity: 0    
}
.modal__form {
    max-width: 90%;
    width: 100%;
}
 .form__title {
    padding-right: 25px;
}
.diler__form .form__title {
    white-space: normal;
}
.diler__form .form__desc {
    margin-bottom: 20px;
}
.form__desc {
    max-width: 360px
    margin-left: 0    
}
.form_default .form-wrp {
    align-items: flex-start    
}
.form_center {
    text-align: start    
}
/* Стили секции modals */

/* Стили секции footer */
.styles_footer {
    opacity: 0    
}
.footer__nav-item {
    margin: 0 0 14px;
}

.footer__nav-list {
    flex-direction: column;
}

.footer__logo {
    margin: 0 auto 20px;
}
/* Стили секции footer */


/* помощники */
}

