

.advan__title {
    max-width: 1254px;
    text-align: center;
    margin: 0 auto 17px; 
}

.text_blue {
    color: #26A4CC;
}

.advan__desc {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    opacity: 0.9;
    max-width: 789px;
    margin 0 auto 70px
}
.advan__list {
    display: flex;
}

.advan__item {
    width: 25%;
    margin-right: 11px;
    background: #26A4CC;
    border-radius: 22.4561px 22.4561px 0px 0px;
    padding: 15px 15px 41px 36px;
    display: flex;
    flex-direction: column;
}

.advan__item:last-child {
    margin-right: 0;
}

.advan__item-img {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    align-items: center;
}

.advan__item-img:after {content: "";position: absolute;bottom: 22px;left: 50%;background: rgba(0, 0, 0, 0.7);filter: blur(19.4269px);transform: rotate(-6deg) translateX(-50%);width: 197px;height: 38px;}

.advan__item-name {
    margin-top: auto;
    color: #fff;
    margin-bottom: 6px;
    position: relative;
}

.default_item-title {
    font-weight: bold;
    font-size: 16.4678px;
    line-height: 20px;
}

.advan__item-desc {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 16.4678px;
    line-height: 20px;
    color: rgba(255,255,255,.6);
}

.advan__item-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14.9708px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #fff;
    align-items: center;
}

.text_upper {
    text-transform: uppercase;
}

.advan__item-price {
    font-size: 26.1988px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.advan__item-img img {
    position: relative;
    z-index: 2;
}