.consult {
    margin-top: 320px;
}
.consult {
    background: url('../img/content/consult-bg-1.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 165px 0 156px;
}

.consult-wrp {
    display: flex;
    align-items: center
}
.consult__content {
    position: relative;
}
.consult__content {
    padding: 0 0 0 7%;
    width: 43.8%;
}

.consult__form {
    width: 45.22%;
    margin-left: auto;
    padding-right: 15%;
}

.consult__title {
    margin-bottom: 22px;
}

.consult__desc {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 339px;
    margin-bottom: 65px;
}

.contact__title {
    font-weight: bold;
    font-size: 32.8686px;
    line-height: 40px;
    margin-right: 7%;
}

.consult__contact {
    display: flex;
    justify-content: flex-end;
}

.contact__advan-item {
    display: flex;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    font-weight: 300;
}

.contact__advan-item:last-child {
    margin-bottom: 0;
}

.contact__advan-item-icon {
    
/* identical to box height */ 
    color: #26A4CC;
    margin-right: 19px;
    position: relative; 
    width: 46px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.contact__advan-item-icon:after {content: "";background: #26A4CC;opacity: 0.3;filter: blur(10px);border-radius: 50%;width: 40px;height: 40px;position: absolute;top: 0px;left: 3px;}

.contact__advan-item-icon.fa-box-open {
    font-size: 39px;
    line-height: 39px;
}

.contact__advan-item-icon.fa-cog {
    font-size: 42px;
    line-height: 42px;
}

.contact__advan-item-icon.fa-chart-line {
    font-size: 40px;
    line-height: 40px;
}
.consult__content {
    position: relative;
}

.consult__content:before {height: 35vw;content: "";position: absolute;top: -8vw;left: 1.5vw;background: url('../img/content/consult-bg-el.png');background-size: cover;width: 35vw;}
.form-wrp {
    background: #FFFFFF;
/* плахи */
    box-shadow: 10px 15px 34px rgba(0, 0, 0, 0.06);
    border-radius: 17px;
    padding: 57px;
}

.form__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
/* identical to box height */
    letter-spacing: -0.01em;
    color: #0D0D0D;
    margin-bottom: 12px;
}

.form__desc {
    font-size: 18px;
    line-height: 22px;
    color: #727272;
    max-width: 310px;
    margin-bottom: 50px;
}

.form__desc b {
    font-weight: 600;
}

.form__label-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #0D0D0D;
    margin-bottom: 12px;
}

.form__label-input {
    font-family: 'Montserrat';
    padding: 29px 26px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    width: 100%;
    color: rgba(13, 13, 13, 1);
    font-size: 21.6px;
    line-height: 26px;
}
.form__label-input::placeholder {
    color: rgba(13, 13, 13, .6); 
}
.form__label {
    display: block;
    margin-bottom: 34px;
}
.form__social-checkbox-list {
    display: flex;
}

.form__label-social-icon {
    width: 33px;
    height: 33px;
}

.form__label-social-icon svg {
    max-width: 100%;
    max-height: 100%;
}
.consult__content>* {
    position: relative;
}
.form-wrp {
    padding: 55px 75px 55px 60px;
}

.form_checkbox {
    display: none;
}

input.form__label-social-checkbox.form_checkbox:checked {}

.form__label-social {
    margin-right: 10px;
}

.form__button {
    min-width: 0;
    width: 100%;
    padding: 34px 10px;
    margin-bottom: 22px;
}

.label_personal-data {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.form__label-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
/* identical to box height, or 15px */
    color: #ABABAB;
    user-select: none;
    position: relative;
}

.form__label-text a {
    color: #ABABAB;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 3px;
}

.form__label-text:before {content: "";display: inline-block;width: 12px;height: 12px;border: 1px solid rgba(0,0,0,.3);margin-right: 5px;margin-bottom: -2px;}

.form__label-checkbox:checked+span:after {content: "";width: 8px;height: 7px;background: url('../img/content/consult-confirm-icon.png') no-repeat;background-size: contain;position: absolute;top: 2px;left: 2px;}