.guarantee-wrp {
    display: flex;
    align-items: flex-start
}

.guarantee-img {
    background: #FFFFFF;
    box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.02), 0px 24.8062px 56.2274px rgba(0, 0, 0, 0.05);
    border-radius: 33.0749px 33.0749px 0px 0px;
    padding: 25px;
}

.guarantee-img {
    flex-shrink: 0;
    width: 36%;
    margin-right: 3%;
}


.guarantee__advan-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
/* or 131% */
    color: rgba(62,62,62,.8);
}

.text_gold {
    color: #B6945E;
}

.guarantee__advan-text .text_gold {
    font-size: 65.6727px;
    line-height: 86px;
    font-weight: 500;
    opacity 1
}

.text_uppercase {
    text-transform: uppercase
}
.guarantee__advan:first-child {
    margin-right: 20px;
}
.guarantee__advan {
    display: flex;
    align-items: center;
}

.guarantee__advan-num {
    font-weight: 300;
    font-size: 217.636px;
    line-height: 285px;
    margin-right: 10px;
}
.guarantee__content {
    display: flex;
}

.guarantee__section:last-child {
    width: 52%;
    flex-shrink: 0;
    margin-right: 0;
}

.guarantee__section {
    width: 42%;
    margin-right: 6%;
}
.guarantee__content {
    display: flex;
}

.guarantee__section:last-child {
    width: 52%;
    flex-shrink: 0;
    margin-right: 0;
}

.guarantee__section {
    width: 42%;
    margin-right: 6%;
}

.guarantee__info-desc {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
}

.guarantee__info-conditions {
    display: flex;
    margin-bottom: 60px;
}

.guarantee__info-conditions-img {
    flex-shrink: 0;
    margin-right: 25px;
    max-width: 76px;
}

.guarantee__info-conditions-text {
    font-weight: bold;
    font-size: 19px;
    line-height: 150%;
/* or 31px */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2FAFFF;
}

.guarantee__info-conditions-text a {
    color: #2FAFFF;
    border-bottom: 1px solid rgba(47, 175, 255, 0.4);
}

a {
    cursor: pointer;
}
.guarantee__info-note {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
    max-width: 367px;
    margin: 25px auto 0;
    text-align: center;
}

.guarantee__popup-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
/* or 131% */
    color: #3E3E3E;
    padding-bottom: 25px;
}

.guarantee__popup-desc {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
}

.popup_block {
    padding: 60px;
    background: #FFFFFF;
    box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.02), 0px 24.8062px 56.2274px rgba(0, 0, 0, 0.05);
    border-radius: 33.0749px 33.0749px 0px 0px;
}

.guarantee-img {
    margin-top: 59px;
}