.partners-wrp {
    display: flex;
    justify-content: space-between
}

.partners__content {
    max-width: calc(100% - 729px);
}

.partners {
    margin-top: 190px;
}

.partners__title {
    padding-bottom: 23px;
}

.partners__desc {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 140px;
}

.partners__item-img {
    display: flex;
    justify-content: center;
}

.partners__list .slick-track {
    display: flex;
    align-items: center;
}

.partners__item-img img {
    max-width: 90%;
}
.slick-dotted.slick-slider.partners__list {
    margin-bottom: 95px;
}

.partners__list .slick-dots {
    bottom: -95px;
}

.partners__list .slick-dots li button {
    padding: 0;
    width: 15px;
}

.partners__list .slick-dots li button:before {
    font-size: 15px;
    color: rgb(62, 62, 62);
    transition: .3s all;
    opacity: .3;
    width: 15px;
}

.partners__list .slick-dots li.slick-active button:before {
    color: #2FAFFF;
    opacity: 1;
}

.partners__list .slick-dots li button:hover:before,.partners__list .slick-dots li button:focus:before {
    color:  #2FAFFF;
}

.partners__list .slick-dots li {
    width: 15px;
}

.partners__popup-wrp {
    background: #FFFFFF;
    box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.02), 0px 24.8062px 56.2274px rgba(0, 0, 0, 0.05);
    border-radius: 33.0749px 33.0749px 0px 0px;
    padding: 0 80px 69px;
    margin-bottom: 95px;
    max-width: 669px
}

.partners-wrp {
    align-items: flex-end;
}

.partners__popup-title {
    font-weight: 600;
    font-size: 26.2182px;
    line-height: 34px;
/* or 131% */
    text-align: center;
    color: #3E3E3E;
    margin-bottom: 9px;
}

.partners__popup-desc {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
    max-width: 351px;
    margin: 0 auto;
}

.partners__popup-img {
    margin-bottom: 15px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    height: 94px;
}

.partners__desc {
    max-width: 917px;
}