.seo {
    margin-top: 70px;
}

.seo__title {
    margin-bottom: 16px;
}

.seo__desc {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
    max-width: 1284px
}