.work-open-wrp {
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.work-open__img {
    max-width: 147px;
    filter: drop-shadow(0px 24.8062px 30px rgba(0, 0, 0, 0.05));
    margin-right: 40px;
    flex-shrink: 0;
}
.work-open__title {
    margin-bottom: 10px;
}

.work-open__desc {
    font-size: 29.1667px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #3E3E3E;
    opacity: 0.9;
}

.work-open__main {
    max-width: 570px;
    margin-right: 40px;
}

.work-open__links {
}

.work-open__link {
    font-weight: bold;
    font-size: 20.6671px;
    line-height: 150%;
/* identical to box height, or 31px */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2FAFFF;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(47, 175, 255, .4);
    display: inline-block;
}

.work-open__link:last-child {
    margin-bottom: 0;
}

.work-open:after {
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 486px;
    background: url('../img/content/work-open-bg.png') no-repeat;
    background-size: cover;
    content: "";
    background-position: center;
}

.work-open {
    position: relative;
}