section.advan.sect_margin
    .container 
        h2.advan__title.sect_title <span class="text_blue">Более 10 лет</span> производим дизельные электростанции для основного и резервного электроснабжения
        p.sect_desc.advan__desc Оборудование соответствует требованиям нормативных документов РФ и технических регламентов таможенного союза
        ul.advan__list 
            a.advan__item(href="") 
                figure.advan__item-img 
                    img(src="app/img/content/advan-item-1.png", alt="")
                h4.advan__item-name.default_item-title Дизельные электростанции
                p.advan__item-desc GENBOX на базе двигателей Kubota (Япония)
                .advan__item-info 
                    span.advan__item-price от <span>150 000</span> ₽
                    span.text_upper от <span>7,7</span> кВт до <span>32</span> кВт
            a.advan__item(href="") 
                figure.advan__item-img 
                    img(src="app/img/content/advan-item-2.png", alt="")
                h4.advan__item-name.default_item-title Дизельные электростанции
                p.advan__item-desc GENBOX на базе двигателей John Deere (США) 
                .advan__item-info 
                    span.advan__item-price от <span>150 000</span> ₽
                    span.text_upper от <span>7,7</span> кВт до <span>32</span> кВт
            a.advan__item(href="") 
                figure.advan__item-img 
                    img(src="app/img/content/advan-item-3.png", alt="")
                h4.advan__item-name.default_item-title Дизельные электростанции
                p.advan__item-desc GENBOX на базе двигателей JCB (Великобритания)
                .advan__item-info 
                    span.advan__item-price от <span>150 000</span> ₽
                    span.text_upper от <span>7,7</span> кВт до <span>32</span> кВт
            a.advan__item(href="") 
                figure.advan__item-img 
                    img(src="app/img/content/advan-item-4.png", alt="")
                h4.advan__item-name.default_item-title Дизельные электростанции
                p.advan__item-desc GENBOX на базе двигателей Iveco (Великобритания)
                .advan__item-info 
                    span.advan__item-price от <span>150 000</span> ₽
                    span.text_upper от <span>7,7</span> кВт до <span>32</span> кВт