section.any.sect_margin
    .container 
        h2.any__title.sect_title Мы изготовим электростанцию в любом варианте исполнения
        ul.any__list 
            a.any__item(href="") 
                figure.any__item-img 
                    img(src="app/img/content/any-item-1.png", alt="")
                h4.any__item-title.default_item-title В защитном кожухе
            a.any__item(href="") 
                figure.any__item-img 
                    img(src="app/img/content/any-item-2.png", alt="")
                h4.any__item-title.default_item-title В блок-контейнере
            a.any__item(href="") 
                figure.any__item-img 
                    img(src="app/img/content/any-item-3.png", alt="")
                h4.any__item-title.default_item-title Передвижная электростанция
            a.any__item(href="") 
                figure.any__item-img 
                    img(src="app/img/content/any-item-4.png", alt="")
                h4.any__item-title.default_item-title Открытое исполнение