section.clients.sect_margin
    .container
        h2.clients__title.sect_title <span class="text_blue">Наши клиенты</span> — это те, кому важно избежать перебоев в электроснабжении и обеспечить работу своих объектов 24/7 в условиях отсутствия электричества
        p.clients__desc.sect_desc Мы помогаем клиентам избежать перебоев с электропитанием, потому что понимаем, что даже одна минута может стоить очень дорого. И дело не всегда в деньгах
        ul.clients__list 
            li.clients__item 
                figure.clients__item-img 
                    img(src="app/img/content/clients-item-1.png", alt="")
                h3.clients__item-title Больницы и медицинские центры
            li.clients__item 
                figure.clients__item-img 
                    img(src="app/img/content/clients-item-1.png", alt="")
                h3.clients__item-title Коттеджные поселки и частные дома
            li.clients__item 
                figure.clients__item-img 
                    img(src="app/img/content/clients-item-1.png", alt="")
                h3.clients__item-title Складские объекты
            li.clients__item 
                figure.clients__item-img 
                    img(src="app/img/content/clients-item-1.png", alt="")
                h3.clients__item-title Производственные предприятия
            li.clients__item 
                figure.clients__item-img 
                    img(src="app/img/content/clients-item-1.png", alt="")
                h3.clients__item-title Объекты добычи и перевалки полезных ископаемых
            li.clients__item 
                figure.clients__item-img 
                    img(src="app/img/content/clients-item-1.png", alt="")
                h3.clients__item-title Объекты транспортной инфраструктуры
