section.dignity 
    .container 
        ul.dignity__list 
            li.dignity__item 
                figure.dignity__item-img 
                    img(src="app/img/content/dignity-item-1.png", alt="")
                p.dignity__item-desc Качество производимых электростанций GENBOX позволяет обеспечить бесперебойную подачу электроэнергии 24/7
            li.dignity__item 
                figure.dignity__item-img 
                    img(src="app/img/content/dignity-item-2.png", alt="")
                p.dignity__item-desc Дизельные электростанции GENBOX супертихие: рядом с электростанцией могут спокойно разговаривать 2 человека
            li.dignity__item 
                figure.dignity__item-img 
                    img(src="app/img/content/dignity-item-3.png", alt="")
                p.dignity__item-desc Можем адаптировать электростанцию под любые требования заказчика в соответствии с техническим заданием