section.dilers.sect_margin
    .container 
        h2.dilers__title.sect_title Купить продукцию можно у наших дилеров по всей России и странам СНГ
        .dilers__map 
            .dilers__info-popup.popup_block 
                h3.dilers__info-title г. Краснодар 
                a.dilers__info-mail.mail_icon(href="mailto:krasnodar@genbox.ru") <i class="fal fa-envelope"></i> <span>krasnodar@genbox.ru</span>
                a.dilers__info-tel.tel_icon.default-hover(href="tel:+78001000185") <i class="fal fa-phone"></i> 8 800 <b>100 01 85</b>
            .dilers__buttons-popup.popup_block
                a.dilers__buttons-link(href="")
                    button.btn.dilers__buttons-item Войти в личный кабинет Дилера
                a.dilers__buttons-link(href="")
                    button.btn.btn_smaller.btn_invert-colors.dilers__buttons-item Стать представителем
            figure.dilers__map-img 
                img(src="app/img/content/diler-map.png", alt="")
                