section.guarantee.sect_margin
    .container 
        .guarantee-wrp 
            figure.guarantee-img 
                img(src="app/img/content/guarantee.png", alt="")
            .guarantee__content 
                .guarantee__section
                    .guarantee__advan 
                        span.guarantee__advan-num.text_gold 15
                        span.guarantee__advan-text.text_container 
                            span.text_gold лет
                            span.text_uppercase Средний
                            span.text_uppercase Срок службы
                    .guarantee__info 
                        p.guarantee__info-desc Стандартная гарантия завода — 2 года. Вы можете расширить ее до 3 лет и получить дополнительные привилегии
                        .guarantee__info-conditions
                            figure.guarantee__info-conditions-img 
                                img(src="app/img/content/guarantee-doc.png", alt="")
                            .guarantee__info-conditions-text.text_upper.link-hover Посмотреть перечень <a>стандартных гарантийных условий</a>
                        button.guarantee__info-button.btn.btn_open-help-modal Написать в техподдержку
                        p.guarantee__info-note Если у вас гарантийный случай, вы можете обратиться напрямую в техподдержку
                .guarantee__section
                    .guarantee__advan 
                        span.guarantee__advan-num.text_gold 24
                        span.guarantee__advan-text.text_container 
                            span.text_gold месяца
                            span.text_uppercase Гарантия
                    .guarantee__popup.popup_block
                        h4.guarantee__popup-title.text_container 
                            span Средний ресурс службы дизельной электростанции до первого капитального ремонта
                            span — от 20 000 до 40 000 моточасов*
                        p.guarantee__popup-desc Указанный ресурс действителен при соблюдении регламентного обслуживания и условий эксплуатации электростанции, прописанных в технической документации
                        