header.header
    .container 
        .header__top 
            .header__logo 
                a.logo__img(href="")  
                    img(src="app/img/content/logo.png", alt="")
                p.logo__desc GENBOX более 10 лет на рынке дизельных электростанций
            .header__info
                ul.header__info-list  
                    li.header__info-item О компании
                    li.header__info-item Партнеры
                    li.header__info-item Доставка и оплата
                    li.header__info-item Полезная информация
                    li.header__info-item Документация
                a.header__info-mail.mail_icon.xl_hidden(href="mailto:info@genbox.ru") <i class="fal fa-envelope"></i> <span>info@genbox.ru</span>
        .header__bottom 
            nav.header__nav 
                .nav__elem 
                    span.nav__elem-text Продукция
                .nav__elem 
                    span.nav__elem-text Комплектующие
                .nav__elem 
                    span.nav__elem-text Услуги и сервис
                .nav__elem 
                    span.nav__elem-text Реализованные проекты
                .nav__elem 
                    span.nav__elem-text Новости
                .nav__elem 
                    span.nav__elem-text Контакты
                .nav__elem.nav_search 
                    span.nav__elem-text.search-icon.fal.fa-search
                    .search-wrp 
                        input.search__input(type="text")
                        span.search-icon.fal.fa-search 
            .header__personal 
                ul.personal__list
                    li.personal__item
                        a.personal__item-link.fal.fa-user(href="") 
                    li.personal__item
                        a.personal__item-link.fal.fa-align-left.fa-rotate-270(href="") 
                    li.personal__item
                        a.personal__item-link.fal.fa-shopping-cart(href="") 
                            span.personal__item-counter.basket_count 3
                    li.personal__item.m_visible.menu_open
                        a.personal__item-link.fal.fa-bars(href="") 
                a.header__tel(href="tel:+78001000185")
                    span 8 800 <b>100 01 85</b>
                    span.tel_smaller <i class="fal fa-phone"></i> Звонок бесплатный
                a.header__info-mail.mail_icon.xl_visible(href="mailto:info@genbox.ru") <i class="fal fa-envelope"></i> <span>info@genbox.ru</span>

                    