section.hero 
    .container 
        .hero__content
            h2.hero__title.sect_title.text_container  
                span <b>GENBOX — производитель</b>
                span <b>и надежный поставщик</b> премиальных дизельных электростанций в России и СНГ
            p.hero__desc.sect_desc Постоянное наличие оборудования на складе позволяет осуществить отгрузку в течение 1 суток. Имеем широкую дилерскую сеть: более 100 партнеров
            a.hero__link(href="")  
                button.btn.hero__button Подобрать электростанцию
        .hero__advan 
            ul.hero__advan-list 
                li.hero__advan-item 
                    figure.hero__advan-item__img 
                        img(src="app/img/content/hero-adv-1.png", alt="")
                    p.hero__advan-item__text Используем комплектующие <b>ведущих мировых брендов</b> и даем расширенную гарантию до 36 месяцев
                li.hero__advan-item 
                    figure.hero__advan-item__img 
                        img(src="app/img/content/hero-adv-2.png", alt="")
                    p.hero__advan-item__text Обеспечиваем полный комплекс дополнительных услуг, включая шефмонтаж, пусконаладочные работы и гарантийное обслуживание
                li.hero__advan-item 
                    figure.hero__advan-item__img 
                        img(src="app/img/content/hero-adv-3.png", alt="")
                    p.hero__advan-item__text Изготовим электростанцию под ваши индивидуальные задачи и требования, отвечающую самым высоким стандартам, с учетом особенностей эксплуатации