section.partners
    .container
        .partners-wrp 
            .partners__content
                h2.partners__title.sect_title Качество каждой электростанции GENBOX обеспечивается за счет комплектующих мировых лидеров и контроля на каждом этапе производства
                p.partners__desc.sect_desc Мы сделали ставку на качество, а не на бюджетные комплектующие, потому что один неуместно сэкономленный рубль может привести к неоценимым потерям
                ul.partners__list 
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-1.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-2.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-3.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-4.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-1.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-2.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-3.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-4.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-1.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-2.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-3.png", alt="")
                    li.partners__item 
                        figure.partners__item-img 
                            img(src="app/img/content/partners-item-4.png", alt="")
            .partners__popup-wrp
                figure.partners__popup-img
                    img(src="app/img/content/partners-wrold.png", alt="")
                h4.partners__popup-title Используем комплектующие брендов, проверенных временем
                p.partners__popup-desc Поэтому уверены в качестве своего оборудования на 100%