section.product
    .container 
        .product__slider 
            .product__list
                .product__item
                    .product__item-wrp 
                        .product__item-content 
                            h2.product__item-title.sect_title Дизельная электростанция GENBOX JD64-S
                            ul.product__item-desc 
                                li
                                    span Мощность номинальная: 
                                    span 70 кВт
                                li
                                    span Напряжение: 
                                    span 220/380 В
                                li
                                    span Модель двигателя: 
                                    span Kubota D1305-E3B-EU-Z1
                                li
                                    span Модель генератора: 
                                    span Mecc Alte ECP28-2L/2A
                                li
                                    span Модель контроллера: 
                                    span DATAKOM D-300
                                li
                                    span Степень автоматизации:
                                li
                                    span Вариант исполнения:
                                li
                                    span Оборотов в минуту:
                            a.product__item-link(href="")
                                button.btn.product__item-btn Подробнее о продукции
                            .product__item-price от <b>150 000 ₽</b>
                        .product__item-img
                            img(src="app/img/content/product-item.png", alt="")  
                .product__item
                    .product__item-wrp 
                        .product__item-content 
                            h2.product__item-title.sect_title Дизельная электростанция GENBOX JD64-S
                            ul.product__item-desc 
                                li
                                    span Мощность номинальная: 
                                    span 70 кВт
                                li
                                    span Напряжение: 
                                    span 220/380 В
                                li
                                    span Модель двигателя: 
                                    span Kubota D1305-E3B-EU-Z1
                                li
                                    span Модель генератора: 
                                    span Mecc Alte ECP28-2L/2A
                                li
                                    span Модель контроллера: 
                                    span DATAKOM D-300
                                li
                                    span Степень автоматизации:
                                li
                                    span Вариант исполнения:
                                li
                                    span Оборотов в минуту:
                            a.product__item-link(href="")
                                button.btn.product__item-btn Подробнее о продукции
                            .product__item-price от <b>150 000 ₽</b>
                        .product__item-img
                            img(src="app/img/content/product-item.png", alt="")  
                .product__item
                    .product__item-wrp 
                        .product__item-content 
                            h2.product__item-title.sect_title Дизельная электростанция GENBOX JD64-S
                            ul.product__item-desc 
                                li
                                    span Мощность номинальная: 
                                    span 70 кВт
                                li
                                    span Напряжение: 
                                    span 220/380 В
                                li
                                    span Модель двигателя: 
                                    span Kubota D1305-E3B-EU-Z1
                                li
                                    span Модель генератора: 
                                    span Mecc Alte ECP28-2L/2A
                                li
                                    span Модель контроллера: 
                                    span DATAKOM D-300
                                li
                                    span Степень автоматизации:
                                li
                                    span Вариант исполнения:
                                li
                                    span Оборотов в минуту:
                            a.product__item-link(href="")
                                button.btn.product__item-btn Подробнее о продукции
                            .product__item-price от <b>150 000 ₽</b>
                        .product__item-img
                            img(src="app/img/content/product-item.png", alt="")  
                .product__item
                    .product__item-wrp 
                        .product__item-content 
                            h2.product__item-title.sect_title Дизельная электростанция GENBOX JD64-S
                            ul.product__item-desc 
                                li
                                    span Мощность номинальная: 
                                    span 70 кВт
                                li
                                    span Напряжение: 
                                    span 220/380 В
                                li
                                    span Модель двигателя: 
                                    span Kubota D1305-E3B-EU-Z1
                                li
                                    span Модель генератора: 
                                    span Mecc Alte ECP28-2L/2A
                                li
                                    span Модель контроллера: 
                                    span DATAKOM D-300
                                li
                                    span Степень автоматизации:
                                li
                                    span Вариант исполнения:
                                li
                                    span Оборотов в минуту:
                            a.product__item-link(href="")
                                button.btn.product__item-btn Подробнее о продукции
                            .product__item-price от <b>150 000 ₽</b>
                        .product__item-img
                            img(src="app/img/content/product-item.png", alt="")  
                .product__item
                    .product__item-wrp 
                        .product__item-content 
                            h2.product__item-title.sect_title Дизельная электростанция GENBOX JD64-S
                            ul.product__item-desc 
                                li
                                    span Мощность номинальная: 
                                    span 70 кВт
                                li
                                    span Напряжение: 
                                    span 220/380 В
                                li
                                    span Модель двигателя: 
                                    span Kubota D1305-E3B-EU-Z1
                                li
                                    span Модель генератора: 
                                    span Mecc Alte ECP28-2L/2A
                                li
                                    span Модель контроллера: 
                                    span DATAKOM D-300
                                li
                                    span Степень автоматизации:
                                li
                                    span Вариант исполнения:
                                li
                                    span Оборотов в минуту:
                            a.product__item-link(href="")
                                button.btn.product__item-btn Подробнее о продукции
                            .product__item-price от <b>150 000 ₽</b>
                        .product__item-img
                            img(src="app/img/content/product-item.png", alt="")  
                
            .product__arrows.slider-arrows 
                .slider__arrow.arrow_prev 
                    div 
                        <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 11.4019C-0.500004 12.5566 -0.5 15.4434 1.5 16.5981L19.5 26.9904C21.5 28.1451 24 26.7017 24 24.3923V3.60769C24 1.29829 21.5 -0.145082 19.5 1.00962L1.5 11.4019Z" fill="#E9E9E9"/>
                        </svg>
                .slider__arrow.arrow_next
                    div.arrow_reverse 
                        <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 11.4019C-0.500004 12.5566 -0.5 15.4434 1.5 16.5981L19.5 26.9904C21.5 28.1451 24 26.7017 24 24.3923V3.60769C24 1.29829 21.5 -0.145082 19.5 1.00962L1.5 11.4019Z" fill="#E9E9E9"/>
                        </svg>