section.services.sect_margin 
    .container 
        h2.sect_title.services__title <span class="text_blue">Оказываем полный комплекс услуг:</span> пусконаладочные работы, ремонт, гарантийное и постгарантийное обслуживание
        ul.services__list 
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-1.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Проектирование дизельных электростанций
                    p.services__item-desc Собственный конструкторский отдел разработает или адаптирует дизельную электростанцию под ваши условия эксплуатации
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-2.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Предпроектный выезд
                    p.services__item-desc Выезды в любую точку страны выполняются в течение 24 часов после обращения
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-1.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Доставка до объекта
                    p.services__item-desc Постоянное наличие электростанций на складах, а также более 100 дилеров по РФ и странам СНГ обеспечат кратчайшие сроки поставки до объекта
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-2.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Гарантийное обслуживание
                    p.services__item-desc Стандартный гарантийный срок на оборудование GENBOX - 24 месяца или 2000 моточасов. Широкая сеть авторизованных сервисных центров на территории РФ и стран СНГ оказывает полный спектр сервисных услуг
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-1.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Проектирование дизельных электростанций
                    p.services__item-desc Собственный конструкторский отдел разработает или адаптирует дизельную электростанцию под ваши условия эксплуатации
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-2.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Предпроектный выезд
                    p.services__item-desc Выезды в любую точку страны выполняются в течение 24 часов после обращения
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-1.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Доставка до объекта
                    p.services__item-desc Постоянное наличие электростанций на складах, а также более 100 дилеров по РФ и странам СНГ обеспечат кратчайшие сроки поставки до объекта
            li.services__item 
                figure.services__item-img 
                    img(src="app/img/content/services-item-plashka.png", alt="" class="services__item-img-back")
                    img(src="app/img/content/services-item-2.png", alt="" class="services__item-img-front")
                .services__item-content
                    h4.services__item-title Гарантийное обслуживание
                    p.services__item-desc Стандартный гарантийный срок на оборудование GENBOX - 24 месяца или 2000 моточасов. Широкая сеть авторизованных сервисных центров на территории РФ и стран СНГ оказывает полный спектр сервисных услуг
