section.work-open
    .container 
        .work-open-wrp 
            .work-open__img 
                img(src="app/img/content/pdf-icon.png", alt="")
            .work-open__main 
                h2.work-open__title.sect_title Мы работаем открыто
                p.work-open__desc Вся необходимая документация о компании уже размещена на сайте
            .work-open__links.text_upper 
                a.work-open__link.link-hover(href="") Карточка контрагента
                a.work-open__link.link-hover(href="") Стандартная форма договора