section.advan 
    .container 
        .advan-wrp 
            .advan__item.advan_diz
                figure.advan__item-img 
                    img(src="app/img/content/detail/advan-item-1.png", alt="") 
                span.advan__item-title Дизельное топливо
            .advan__item
                figure.advan__item-img 
                    img(src="", alt="") 
                    .advan__item-img-text
                        span.advan_num 50
                        span Гц
                span.advan__item-title Частота тока
            .advan__item
                figure.advan__item-img 
                    img(src="", alt="") 
                    .advan__item-img-text
                        span.advan_num 230
                span.advan__item-title Напряжение
            .advan__item.advan_oborot
                figure.advan__item-img 
                    img(src="", alt="") 
                    .advan__item-img-text
                        span.advan_num 300
                        span об/мин
                span.advan__item-title Частота вращения двигателя
            .advan__item
                figure.advan__item-img 
                    img(src="app/img/content/detail/advan-item-2.png", alt="") 
                span.advan__item-title Жидкостное охлаждение
            .advan__item
                figure.advan__item-img 
                    img(src="app/img/content/detail/advan-item-3.png", alt="") 
                span.advan__item-title Сертификат ГОСТ Р