section.desc 
    .container 
        ul.desc__accrd-selecter
            li.accrd-selecter__select.item_selected Описание
            li.accrd-selecter__select Характеристики
            li.accrd-selecter__select Комплектация
            li.accrd-selecter__select Сервис
            li.accrd-selecter__select Документация
        ul.desc__accrd-list 
            li.accrd-item.item_selected.desc_accrd 
                .accrd-item__desc
                    h3.accrd-item__desc-subtitle Дизельная электростанция
                    h2.accrd-item__desc-title GENBOX KBT16M-3000
                    p.accrd-item__desc-info GENBOX серии KBT – дизельная электростанция, разработанная и произведенная на территории Российской Федерации с учетом всех современных требований и стандартов, особенностей различных климатических условий и пожеланий наших клиентов. Электростанции GENBOX сочетают в себе высокую производительность, практичный дизайн и передовые технологии малой энергетики.
                .accrd-item__desc-table-wrp.accrd-table
                    h4.accrd-item__desc-table-title.accrd-table_title Основные характеристики
                    ul.accrd-item__desc-table.accrd-table_list
                        li.accrd-item__desc-table-item
                            span Модель ДЭC
                            span  АД-200 (Scania)
                        li.accrd-item__desc-table-item
                            span Основная мощность
                            span 200 кВт / 250 кВт
                        li.accrd-item__desc-table-item
                            span Резервная мощность
                            span 220 кВт / 275 кВА
                        li.accrd-item__desc-table-item
                            span Вырабатываемый ток
                            span 3-фазный / 400 В / 50 Гц
                        li.accrd-item__desc-table-item
                            span Модель ДЭC
                            span  АД-200 (Scania)
                        li.accrd-item__desc-table-item
                            span Основная мощность
                            span 200 кВт / 250 кВт
                        li.accrd-item__desc-table-item
                            span Резервная мощность
                            span 220 кВт / 275 кВА
                        li.accrd-item__desc-table-item
                            span Вырабатываемый ток
                            span 3-фазный / 400 В / 50 Гц
                        li.accrd-item__desc-table-item
                            span Вырабатываемый ток
                            span 3-фазный / 400 В / 50 Гц
            li.accrd-item.char_accrd
                .accrd-item__char
                    h2.accrd-item__char-title.sect_title Подробные характеристики дизельной электростанции GENBOX KBT16M-3000
                .accrd-item__char-table-wrp.accrd-table 
                    h4.accrd-item__char-table-title.accrd-table_title Основные характеристики
                    ul.accrd-item__desc-table.accrd-table_list
                        .accrd-item__desc-table-row
                            li.accrd-item__desc-table-item
                                span Страна производства
                                span Япония
                            li.accrd-item__desc-table-item
                                span Мощность номинальная, кВт
                                span 18,2
                            li.accrd-item__desc-table-item
                                span Мощность максимальная, кВт
                                span 21,7
                            li.accrd-item__desc-table-item
                                span Количество цилиндров
                                span 3
                            li.accrd-item__desc-table-item
                                span Страна производства
                                span Япония
                            li.accrd-item__desc-table-item
                                span Мощность номинальная, кВт
                                span 18,2
                            li.accrd-item__desc-table-item
                                span Мощность максимальная, кВт
                                span 21,7
                            li.accrd-item__desc-table-item
                                span Количество цилиндров
                                span 3
                            li.accrd-item__desc-table-item
                                span Страна производства
                                span Япония
                            li.accrd-item__desc-table-item
                                span Мощность номинальная, кВт
                                span 18,2
                            li.accrd-item__desc-table-item
                                span Мощность максимальная, кВт
                                span 21,7
                        .accrd-item__desc-table-row
                            li.accrd-item__desc-table-item
                                span Страна производства
                                span Япония
                            li.accrd-item__desc-table-item
                                span Мощность номинальная, кВт
                                span 18,2
                            li.accrd-item__desc-table-item
                                span Мощность максимальная, кВт
                                span 21,7
                            li.accrd-item__desc-table-item
                                span Количество цилиндров
                                span 3
                            li.accrd-item__desc-table-item
                                span Страна производства
                                span Япония
                            li.accrd-item__desc-table-item
                                span Мощность номинальная, кВт
                                span 18,2
                            li.accrd-item__desc-table-item
                                span Мощность максимальная, кВт
                                span 21,7
                            li.accrd-item__desc-table-item
                                span Количество цилиндров
                                span 3
                            li.accrd-item__desc-table-item
                                span Страна производства
                                span Япония
                            li.accrd-item__desc-table-item
                                span Мощность номинальная, кВт
                                span 18,2
                            li.accrd-item__desc-table-item
                                span Мощность максимальная, кВт
                                span 21,7
            li.accrd-item.doc_accrd
                ul.accrd-item__doc-list 
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name <span class="doc-name_border">Типовой договор поставки</span> <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-2.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name <span class="doc-name_border">Техническое задание</span> <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-3.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name <span class="doc-name_border">Опросный лист</span> <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name <span class="doc-name_border">Договор сервиса</span> <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-2.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name <span class="doc-name_border">Пример коммерческого предложения</span> <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
            li.accrd-item.doc_accrd
                ul.accrd-item__doc-list 
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Типовой договор поставки <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Техническое задание <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Опросный лист <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Договор сервиса <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Пример коммерческого предложения <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
            li.accrd-item.doc_accrd
                ul.accrd-item__doc-list 
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Типовой договор поставки <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Техническое задание <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Опросный лист <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Договор сервиса <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
                    li.accrd-item__doc-item
                        figure.accrd-item__doc-img
                            img(src="app/img/content/detail/doc-item-1.png", alt="")
                        .accrd-item__doc-text
                            span.accrd-item__doc-name Пример коммерческого предложения <span class="far fa-cloud-upload"></span>
                            span.accrd-item__doc-weight  544 Кб
