section.spare 
    .container 
        .spare-wrp 
            .spare__content 
                h2.spare__title.sect_title Моторесурс дизельных двигателей Kubota достигает 40 000 моточасов. При соблюдении требований к условиям эксплуатации и соблюдении регламента технического обслуживания
                ul.spare__list 
                    li.spare__item 
                        p.spare__item-info Менее требовательный к качеству топлива рядный ТНВД и форсунки
                    li.spare__item 
                        p.spare__item-info Облегченный капитальный ремонт за счет простой конструкции двигателя
                    li.spare__item 
                        p.spare__item-info Полуплавающая головка блока цилиндров
                    li.spare__item 
                        p.spare__item-info Наработка двигателей до первого капитального ремонта может составлять до 40 000 моточасов при правильной эксплуатации и соблюдении периодичности ТО
            .spare__image 
                img(src="app/img/content/detail/dvig.png", alt="")