section.spare.spare_alter
    .container 
        .spare-wrp.spare_popup 
            .spare__content 
                h2.spare__title.sect_title Альтернатор Mecc Alte обеспечивает бесперебойную подачу электричества
                ul.spare__list 
                    li.spare__item 
                        p.spare__item-info Обмотки статора выполнены с шагом 2/3, что обеспечивает минимальное отклонение от синусоиды напряжения
                    li.spare__item 
                        p.spare__item-info Использование инновационного электронного регулятора напряжения с погрешностью не более 1%
                    li.spare__item 
                        p.spare__item-info Оптимальные показатели безопасности: степень защиты IP 21 (IP 23), система изоляции класса H
                    li.spare__item 
                        p.spare__item-info За счет применения вспомогательной системы намотки MAUS допустимые перегрузки составляют 300% в течение 20 секунд, 50% в течение 2 минут и 10% в течение 1 часа каждые 6 часов работы
            .spare__image.spare_alter 
                img(src="app/img/content/detail/alter.png", alt="")