section.arrangement.arran_options 
    .container 
        h2.arrangement__title.sect_title Дополнительные опции для дизельных электростанции <span class="text_blue">GENBOX</span>
        ul.arrangement__list 
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/options.png", alt="")
                span.arrangement__name Аккумуляторная батарея Bosch
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/options.png", alt="")
                span.arrangement__name Генератор постоянного тока Mahle
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/arran.png", alt="")
                span.arrangement__name Сверхпрочный дверной замок из латуни
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/arran.png", alt="")
                span.arrangement__name Электрическая часть ДГУ производства ABB
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/arran.png", alt="")
                span.arrangement__name Стартер Denso
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/arran.png", alt="")
                span.arrangement__name Карманы для снижения шума
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/arran.png", alt="")
                span.arrangement__name Предохранитель случайного закрывания двери
            li.arrangement__item 
                figure.arrangement__item-img 
                    img(src="app/img/content/detail/arran.png", alt="")
                span.arrangement__name Шумоизоляционный материал