section.pref 
    .container 
        h2.pref__title.sect_title Преимущества дизельных электростанций Genbox
        ul.pref__list 
            li.pref__item 
                figure.pref__item-image 
                    img(src="app/img/content/detail/pref-item-1.png", alt="")
                h3.pref__item-title Качественные комплектующие ведущих мировых брендов
                p.pref__item-desc Высочайшее качество обеспечивается за счет тщательного отбора комплектующих и многоступенчатой системы контроля качества на всех этапах производственного процесса
            li.pref__item 
                figure.pref__item-image 
                    img(src="app/img/content/detail/pref-item-2.png", alt="")
                h3.pref__item-title Бесперебойная работа даже в суровых климатических условиях
                p.pref__item-desc Уверенность в бесперебойном энергоснабжении даже в самых жестких условиях эксплуатации станции, включая условия Арктики и Крайнего Севера
            li.pref__item 
                figure.pref__item-image 
                    img(src="app/img/content/detail/pref-item-3.png", alt="")
                h3.pref__item-title Гибкая адаптация станции под ваши задачи
                p.pref__item-desc При необходимости спроектируем ДЭС под ваши задачи и учтем пожелания по конструкции, техническим требованиям и внешнему виду
