section.spare.spare_listing 
    .container 
        .spare-wrp.spare_popup 
            .spare__content 
                h2.spare__title.sect_title Контроллер Datakom d-300 обеспечивает центральный мониторинг через интернет
                ul.spare__listing 
                    li.spare__listing-item
                        h4.spare__listing-item-title Коммуникации:
                        ul.spare__listing-item-info 
                            li Порт USB;
                            li Порт RS-232 (2400-57600baud);
                            li J1939-CANBUS;
                            li Геолокация через GSM;
                            li Поддержка GPS внешних устройств (RS-232);
                            li Центральный мониторинг через Интернет;
                            li Отправка SMS сообщений;
                            li Отправка сообщений электронной почты;
                            li 4-полосный GPRS модем (опционально).
                    li.spare__listing-item
                        h4.spare__listing-item-title Параметрия:
                        ul.spare__listing-item-info 
                            li Напряжение генератора;
                            li Входная частота;
                            li Измерение по фазам;
                            li Сеть и ток нейтрали;
                            li Показания по фазам мощности;
                            li Скорость двигателя;
                            li Заряд батареи.
            .spare__image.spare_control 
                img(src="app/img/content/detail/control.png", alt="")