section.unic 
    .container 
        .unic-popup
            .unic__image 
                img(src="app/img/content/detail/unic-magazine.png", alt="")
            h3.unic__title Нужна электростанция по индивидуальному техническому заданию?
            button.btn.unic__button Получить уникальное предложение